h1 {
    color: red;
    font-size: 22px;
}

p {
    color: blue;
    font-size: 18px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    max-width: 60%;
    height: auto;
    display: block !important;
    margin: 0 auto;
}

a {
    padding: 50px;
    color: white;
    background-color: brown;
}

a:hover{
    color: black;
    background-color: grey;
}